<label class="optional control-label">New one-time event</label>
<div class="form-inline">

  Start time (central time zone):
  <input
    type="time"
    name="chat[schedule_single_occurrence_times][]"
    value=""
    class="form-control" />

  &nbsp;

  Date:
  <input
    type="date"
    name="chat[schedule_single_occurrence_dates][]"
    value=""
    class="form-control" />

</div>
