<h1>Invalid Webpage Resource</h1>

<p>
The URL you entered appears to be <strong>INVALID</strong>.
</p>

<p>
URL: <code><%= @resource.url %></code>
</p>

<p>
  <%= link_to 'Go Back', :back, class: 'btn btn-danger' %>
</p>
