//
// Variables
// --------------------------------------------------

// Colors
$owl-green-1: #abd6a9;
$owl-green-2: #79be9c;
$owl-green-3: #3e8787;
$owl-yellow-complement: #ffd6a2;
$owl-blue-complement: #759ab2;
$owl-blue-complement-light: #a8cde5;
$owl-red-complement: #ffbaa2;

